In [104]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "C:/Users/David/Desktop/GTATL201908DATA3/02 - Homework/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "C:/Users/David/Desktop/GTATL201908DATA3/02 - Homework/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

total_schools = school_data_complete['school_name'].nunique()
total_students = school_data_complete['Student ID'].count()
total_budget = school_data_complete['budget'].drop_duplicates().sum()
average_math = school_data_complete['math_score'].mean()
average_reading = school_data_complete['reading_score'].mean()
overall = (average_math + average_reading)/ 2
percent_math = (school_data_complete.loc[school_data_complete['math_score'] >= 70, 'Student ID'].count())/ total_students * 100
percent_reading = (school_data_complete.loc[school_data_complete['reading_score'] >= 70, 'Student ID'].count())/ total_students * 100

overview_data = {'Total Schools':[total_schools], 'Total Students':[total_students], 'Total Budget':[total_budget],
        'Average Math Score':[average_math], 'Average Reading Score':[average_reading], '% Passing Math':[percent_math], 
        '% Percent Reading':[percent_reading], 'Overall Passing Rate':[overall]}
  
# Create DataFrame 
overview_df = pd.DataFrame(overview_data) 
  
# Print the output. 
overview_df.head() 



#schoolname
school_names = school_data_complete['school_name'].drop_duplicates()
#totalstudents
school_students = school_data_complete.groupby('school_name').student_name.count()
#schoolbudget
school_budget = school_data_complete.groupby('school_name').budget.mean()
#perstudentbudget
per_student_budget = school_budget/school_students
#avgmath score
school_avg_math = school_data_complete.groupby('school_name').math_score.mean()
#avgreading
school_avg_reading = school_data_complete.groupby('school_name').reading_score.mean()



math_pass_df = pd.DataFrame(school_data_complete.loc[school_data_complete['math_score'] >= 70])
math_pass_df.head()

school_passing_math = math_pass_df.groupby('school_name').math_score.count()/school_students*100
school_passing_math

school_type = school_data_complete.groupby(['school_name', 'type'], axis = 0).count()

test_data = {'School Population':school_students,'Budget':school_budget, 'Budget per Student': per_student_budget,
           'Average Math Score':school_avg_math, 'Average Reading Score': school_avg_reading, 'type': school_type}
test_df = school_type.copy()
#test_data
test_df.head()

,,Student ID,student_name,gender,grade,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468